div#overall_histogram {
    width: 500px;
    height: 200px;
    /*float: left;*/
}
div#weighted_histogram {
    width: 500px;
    height: 200px;
    /*margin-left: 400px;*/
}
div#product_info {
    float: left;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}