{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('search') }}" method=get class=add-entry>
      <dl>
        <dt>ASIN:
            <input type="hidden" name="search_type" value="product">
            <dd><input type=text size=30 name="search_term"></dd>
            <dd><input type=submit></dd>
        </dt>
      </dl>
    </form>
    <h2>Samples</h2>
    <div>
        Try searching for:
        <ul>
            <li>B00B1TR6YC</li>
            <li>B000056B00</li>
            <li>0140291784</li>
            <li>0980091608</li>
            <li>B002YNCRDY</li>
            <li>B003X284QE</li>
            <li>B00AMNI9C6</li>
            <li>B000X3EWIK</li>
            <li>0061346586</li>
            <li>B001OLVDTQ</li>
        </ul>
    </div>
{% endblock %}