{% extends "layout.html" %}
{% block body %}
    <h1> Search</h1>
    <div class="container">
        <form action="{{ url_for('search') }}" method=get class=add-entry>
          <dl>
            <dt>ASIN:
                <input type="hidden" name="search_type" value="product">
                <dd><input type=text size=30 name="search_term"></dd>
                <dd><input type=submit></dd>
            </dt>
          </dl>
        </form>
        <h2>Samples</h2>
        <div>
            Try searching for:
            <ul>
                <li>B00E5UZI9O</li>
                <li>B001KNHS88</li>
                <li>B00AM7EQYC</li>
                <li>B00AM7EQYC</li>
                <li>B000087H7T</li>
            </ul>
        </div>
    </div>
{% endblock %}