<!doctype html>
<head>
    <title>Amazon Reviews</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ url_for('index') }}">AmzDB</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="{{ url_for('index') }}">Search</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  {% block body %}{% endblock %}
</div> <!-- /container -->

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

</body>