{% extends "layout.html" %}
{% block body %}
    <h2>Product</h2>
    <dl>
        <dt>ASIN</dt>
        <dd>{{ product.asin }}</dd>
        <dt>Overall Score</dt>
        <dd>{{ product.overall_score }}</dd>
        <dt>A Score</dt>
        <dd>{{ product.meth1_score }}</dd>
    </dl>
    <div>Amazon Histogram</div>
    <div>A-Score Histogram</div>
    </h3>Top Reviews</h3>
    <ul class=reviews>
        {% for review in reviews %}
            <dt><a href="{{ url_for('review', reviewer_id=review.reviewerid, asin=review.asin) }}">{{ review.summary }}</a></dt>
            <dd>{{ review.reviewtext }}</dd>
        {% endfor %}
    </ul>
{% endblock %}