{% extends "layout.html" %}
{% block body %}
    <h2>Product</h2>
    <dl>
        <dt>ASIN</dt>
        <dd>{{ product.asin }}</dd>
        <dt>Overall Score</dt>
        <dd>{{ product.overall_score }}</dd>
        <dt>A Score</dt>
        <dd>{{ product.meth1_score }}</dd>
    </dl>
    <div id="histograms">
        <h3>Amazon Histogram</h3>
        <div id="overall_histogram" style="width: 500px; height: 200px;"></div>
        <h3>A-Score Histogram</h3>
        <div id="weighted_histogram" style="width: 500px; height: 200px;"></div>
    </div>
    </h3>Top Reviews</h3>
    <ul class=reviews>
        {% for review in reviews %}
            <dt><a href="{{ url_for('review', reviewer_id=review.reviewerid, asin=review.asin) }}">{{ review.summary }}</a></dt>
            <dd>{{ review.reviewtext }}</dd>
        {% endfor %}
    </ul>
    <script type="text/javascript">
        var to_draw = [
            ["overall_histogram", {{ product.overall_histogram }}],
            ["weighted_histogram", {{ product.meth1_histogram }}],
        ]
    </script>
{% endblock %}