{% extends "layout.html" %}
{% block body %}
    <h2>{{ product.title or "Product" }}</h2>
    <dl>
        <dt>ASIN</dt>
        <dd>{{ product.asin }}</dd>
        <dt>Overall Score</dt>
        <dd>{{ product.overall_score }}</dd>
        <dt>Alternative Score</dt>
        <dd>{{ product.meth2_score }}</dd>
    </dl>
    <div id="histograms">
        <table>
        <tr>
            <td id="overall_container">
                <h3>Amazon Histogram</h3>
                <div id="overall_histogram"></div>
            </td>
            <td id="weighted_container">
                <h3>Alternative Score Histogram</h3>
                <div id="weighted_histogram"></div>
            </td>
        </tr>
        </table>
    </div>
    <h3>Top Reviews</h3>
    <ul class=reviews>
        {% for review in reviews %}
            <dt><a href="{{ url_for('review', reviewer_id=review.reviewerid, asin=review.asin) }}">{{ review.summary }}</a></dt>
            <dd>{{ review.reviewtext }}</dd>
            <dd>{{ review.overall }} out of 5.0</dd>
            <dd>By <a href="{{ url_for('reviewer', reviewer_id=review.reviewerid) }}">{{ review.reviewername }}</a></dd>
        {% endfor %}
    </ul>
    <script type="text/javascript">
        var to_draw = [
            ["overall_histogram", {{ product.overall_histogram }}],
            ["weighted_histogram", {{ product.meth2_histogram }}],
        ]
    </script>
{% endblock %}