{% extends "layout.html" %}
{% block body %}
    <h2>Reviewer</h2>
    <dl>
        <dt>ReviewerId</dt>
        <dd>{{ reviewer.reviewerid }}</dd>
        <dt>Name</dt>
        <dd>{{ reviewer.reviewername }}</dd>
        <dt>A Score</dt>
        <dd>{{ reviewer.meth1_score }}</dd>
    </dl>
    <div id="histograms">
        <h3>Amazon Histogram</h3>
        <div id="overall_histogram"></div>
    </div>
    <h3>Reviews</h3>
    <dl class=reviews>
        {% for review in reviews %}
            <dt><a href="{{ url_for('review', reviewer_id=review.reviewerid, asin=review.asin) }}">{{ review.summary }}</a></dt>
            <dd>{{ review.reviewtext }}</dd>
        {% endfor %}
    </dl>
    <script type="text/javascript">
        var to_draw = [
            ["overall_histogram", {{ reviewer.overall_histogram }}],
        ]
    </script>
{% endblock %}